<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/_head'); %>
    <title>TinyApp</title>
  </head>
  <body>
    <%- include('./partials/_header'); %>
    <main style="margin: 1em">
      <h3>Error</h3>
      <p><%= message %></p>
    </main>
  </body>
</html>
